<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
    <link rel ="stylesheet" href="https://stackpath.bootstrapcdn.com/Bootstrap/4.4.1/css/bootstrap.min.css" integrity="
    sha384-VkooBx4CGsO3+Hhxv8T/QSPaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar navbar-light" style="background-color: #e3f2fd;">
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Profile</a>
            </div>
        </div>
      </nav>
      <br><br>


    {% block content %}
         <h1>This is base page</h1>




    {% endblock content %}
</body>
</html>